
body {
        background-color: rgb(46, 25, 168);

}



#sidebar {
    background-color: rgb(246, 67, 114);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20%;
    font-weight: bold;
    padding-top: 3%;
    padding-left: 3%;
    text-shadow: 2px 2px 4px #000000;
    color: white;

    z-index: 10;


}
#self {
    position: relative;
    height: 40%;
    width: 100%;
    right: 10%;
    border: black;
    border-width: 1%;
    border-style: solid;
    border-radius: 50%;
    font-size-adjust: initial;
}

.h2 {
    color: white;
}

.h4 {
    color: white;
}
.h5 {
    color: white;
}


#bluescreen {

    float: left;
    position: fixed;
    left: 20%;
    background-color: rgb(46, 25, 168);
    width: 80%;
    height: 100vh;
     z-index: 3;
    opacity: 0.55;
    filter: alpha(opacity=50); 
    z-index: 3;
}

#sky {

    width: 100%;
    height: auto;
    z-index: 2;

}






#snow {

    width: 100%;
    height: auto;
    z-index: 2;

}


#water {

    width: 100%;
    height: auto;
    z-index: 2;

}


#river {

    width: 100%;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 370%;


}

#grass {

    display: none;


}

#cove {

    display: none;


}

#wave {

    display: none;


}

.overtext {
    color: white;
    position: absolute;

    z-index: 9;
    text-shadow: 2px 2px 4px #000000;


}


.cursive {

    font-family: 'Allan';
    font-size: 455%;
    text-shadow: 2px 2px 4px #000000;


}

#text1 {
    top: 10%;
    left: 23%;
}


#text2 {

    top: 130%;
    left: 23%;

}

#text3 {

    top: 4%;
    left: 23%;

}



#grid {

    position: absolute;
    z-index: 8;
    top: 35vh;
    left:30%;
}
.col-md-2 {

    padding-right: 2%;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-right: 4%;
    margin-left: 2%;
    z-index: 2;
}

.column{
    box-shadow: 2px 2px 4px #000000;
    border-radius: 50px 50px 0px 0px;

}


.green_box {


    background-color: rgb(53, 171, 165);
    z-index: 4;
    position: relative;

    bottom: 0%;
    height: auto;
    width: 140%;
    color: white;
    text-align: center;
    padding-top: 0%;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 0px 0px 50px 50px;
    text-shadow: 2px 2px 4px #000000;


}





.repos {
    color: white;
    position: relative;
    text-shadow: 2px 2px 4px #000000;

}

#main-contact {

    color: white;
    height: 0%;
    width: 30%;
    margin-top: 1%;
    margin-left: 23%;
    margin-right: 0%;
    z-index: 3;
    position: relative;
    text-shadow: 2px 2px 4px #000000;

}

#contact {

    position: relative;
   /* left: 23%;  */
}

form {
    position: relative;
    margin-left: 10%;

   /* left: 23%; */
}




@media screen and (max-width: 330px) and (min-width: 1px) {

    #sidebar {
    position: absolute;
    width:170%;
    height: auto;
    text-align: center;
    padding-bottom: 10%;


    }


    #self {
        height: 60%;
        width:50%;
        left: 0%;
        right: 0%;
    }

    #sky {
        position: absolute;
        top:100%;
        width:170%;

    }

    #text1{
        position: absolute;
        top: 105%;
        left: 40%;
        width: 100%;
        text-align: center;

    }


    #snow {
        position: absolute;
        top:170%;
        width:170%;

    }

    #text2{
        position: absolute;
        top: 170%;
        width: 128%;
        font-size: 70%;
        left:30%;

    }
    #water {
        position: absolute;
        top:240%;
        width:170%;

    }

    #text3{
        position: absolute;
        width: 140%;
        font-size: 70%;
        left:30%;
        top: 240%;

    }

    #grid {
        position: absolute;
        left: 60%;
        top:230%;
        width: 90%;
    }
    #river {
        position: absolute;
        top:310%;
        width:170%;

    }



    #text4{
        position: absolute;
        top: 310%;

    }

    #main-contact{
        position: absolute;
        top: 400%;

    }

    h1 {
        font-size: 100%;
    }

    #contact {

        font-size: 80%;

    }
    .h2 {
        font-size: 100%;
    }

    h3 {
        font-size: 100%;
    }

    h4 {
        font-size: 80%;
    }

    .h4 {
        font-size: 80%;
    }

    .cursive{
        font-size: 100%;
        margin-top: -20%;



    }

    #bluescreen {

        width: 170%;
        left: 0%;
        height: 675%;

    }

    .column{ 

    }

    .col-md-2{

        width: 35%;
        position: relative;
        right: 40%;
        margin-right:10%;
        height: 150px;
        margin-top: 100px;

    }

    .green {
        font-size: 90%;
    }

    .repos {
        font-size: 60%;

    }

    .green_box {


    }

    #sw {
        position: absolute;
        top: 0%;
        left: 54%;

    }


    #darksky {

        position: absolute;
        top: 52%;
        left: 54%;


    }

    #main-contact {
        margin-left: 30%;
        position: absolute;
        top: 406%;
    
    }



    input {

    width: 420%;
    }


    textarea {
        width: 420%;

    }

    .btn-primary {
        margin-bottom: 10%;

    }


    #grass {
        display: inline;
        width: 170%;
        height: auto;
        z-index: 2;
        position: absolute;
        top: 400%;
    }

    #cove {
        display: inline;
        width: 170%;
        height: auto;
        z-index: 2;
        position: absolute;
        top: 490%;
    }

    #wave {
        display: inline;
        width: 170%;
        height: auto;
        z-index: 2;
        position: absolute;
        top: 580%;
    }


}


@media screen and (max-width: 380px) and (min-width: 331px) {

    #sidebar {
    position: absolute;
    width:170%;
    height: auto;
    text-align: center;
    padding-bottom: 10%;


    }


    #self {
        height: 60%;
        width:50%;
        left: 0%;
        right: 0%;
    }

    #sky {
        position: absolute;
        top:100%;
        width:170%;

    }

    #text1{
        position: absolute;
        top: 105%;
        left: 40%;
        width: 100%;
        text-align: center;

    }


    #snow {
        position: absolute;
        top:155%;
        width:170%;

    }

    #text2{
        position: absolute;
        top: 160%;
        width: 128%;
        font-size: 70%;
        left:30%;

    }

    #water {
        position: absolute;
        top:210%;
        width:170%;

    }

    #text3{
        position: absolute;
        width: 140%;
        font-size: 70%;
        left:30%;
        top: 215%;

    }

    #grid {
        position: absolute;
        left: 60%;
        top:210%;
        width: 90%;
    }
    #river {
        position: absolute;
        top:260%;
        width:170%;

    }



    #text4{
        position: absolute;
        top: 310%;

    }

    #main-contact{
        position: absolute;
        top: 400%;

    }

    h1 {
        font-size: 100%;
    }

    #contact {
        font-size: 80%;


    }
    .h2 {
        font-size: 100%;
    }

    h3 {
        font-size: 100%;
    }

    h4 {
        font-size: 80%;
    }

    .h4 {
        font-size: 80%;
    }

    .cursive{
        font-size: 100%;
        margin-top: -20%;



    }

    #bluescreen {

        width: 170%;
        left: 0%;
        height: 475%;

    }

    .column{ 

    }

    .col-md-2{

        width: 35%;
        position: relative;
        right: 40%;
        margin-right:10%;
        height: 150px;
        margin-top: 100px;

    }

    .green {
        font-size: 90%;
    }

    .repos {
        font-size: 60%;

    }

    .green_box {


    }

    #sw {
        position: absolute;
        top: 0%;
        left: 54%;

    }


    #darksky {

        position: absolute;
        top: 52%;
        left: 54%;


    }

    #main-contact {
        margin-left: 30%;
        position: absolute;
        top: 316%;
    
    }


    input {

    width: 420%;
    }


    textarea {
        width: 420%;

    }

    .btn-primary {
        margin-bottom: 10%;

    }


    #grass {
        display: inline;
        width: 170%;
        height: auto;
        z-index: 2;
        position: absolute;
        top: 310%;
    }

    #cove {
        display: inline;
        width: 170%;
        height: auto;
        z-index: 2;
        position: absolute;
        top: 365%;
    }

    #wave {
        display: none;
        width: 170%;
        height: auto;
        z-index: 2;
        position: absolute;
        top: 422%;
    }


}